In [1]:
# utilities
import re
import pickle
import numpy as np
import pandas as pd

# plotting
import seaborn as sns
from wordcloud import WordCloud
import matplotlib.pyplot as plt

# nltk
from nltk.stem import WordNetLemmatizer

# sklearn
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
#import dataset to juypter notebook and store it into a pandas dataframe:
twitterdataset = pd.read_csv('twitter.csv',encoding='latin-1')
twitterdataset.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [3]:
#now we need to add columns to our dataset, as seen above there are no column names:
twitterdataset.columns = ["target", "id", "date", "flag", "user", "text"]

In [4]:
#now print out dataset:
twitterdataset.head()

,target,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [5]:
#drop the columns we do not need, we only need target and the actual text of the 
twitterdataset.drop(columns=['id', 'date', 'flag', 'user' ])

         target                                               text
0             0  is upset that he can't update his Facebook by ...
1             0  @Kenichan I dived many times for the ball. Man...
2             0    my whole body feels itchy and like its on fire
3             0  @nationwideclass no, it's not behaving at all....
4             0                      @Kwesidei not the whole crew
...         ...                                                ...
1599994       4  Just woke up. Having no school is the best fee...
1599995       4  TheWDB.com - Very cool to hear old Walt interv...
1599996       4  Are you ready for your MoJo Makeover? Ask me f...
1599997       4  Happy 38th Birthday to my boo of alll time!!! ...
1599998       4  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 2 columns]